#root {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .Header {
      .date {
        color: rgb(66, 151, 255);
        margin-top: 10px;
      }
    }
    .Editor {
      margin-top: 20px;
      display: flex;
      gap: 10px;
      input {
        flex: 1;
        padding: 20px;
        border-radius: 3px;
        border: 1.5px solid rgb(66, 151, 255, 0.4);
        &:focus {
          border: none;
          outline: 2px solid rgb(66, 151, 255);
        }
      }
  
      button {
        padding: 20px;
        border-radius: 5px;
        color: white;
        background-color: rgb(66, 151, 255);
      }
    }
    .List {
      display: flex;
      margin-top: 30px;
      flex-direction: column;
      gap: 20px;
      > input {
        width: 100%;
        padding: 15px 0px;
        border-bottom: 1px solid rgb(222, 222, 222);
        &:focus {
          outline: none;
          border-bottom: 1.5px solid rgb(66, 151, 255);
        }
      }
      .TodoItem {
        display: flex;
        margin-top: -20px;
        padding: 20px 0px 40px 0px;
        border-top: 1px solid rgb(222, 222, 222);
        align-items: center;
        gap: 20px;
        input {
          width: 15px;
          height: 15px;
          border: 1px solid rgb(155, 155, 155);
          border-radius: 5px;
          cursor: pointer;
          &:checked {
            background-color: rgb(66, 151, 255);
            border: none;
            position: relative;
            &::before {
              content: '✔';
              color: white;
              position: absolute;
              left: 2px;
              bottom: -1.5px;
            }
          }
        }
        label {
          flex: 1;
        }
        .date {
          font-size: 0.875rem;
          color: gray;
        }
        button {
          padding: 5px;
          border-radius: 5px;
          color: gray;
          background-color: rgba(240, 240, 240);
        }
      }
    }
  }